<h1>Welcome to your Songs List</h1>
<h2>Your songs</h2>
<% @songs.each do |song| %>
	<li><%= song.name %>
  <%= link_to 'Edit', edit_song_path(song) %>
  <%= link_to 'Delete', song_path(song), method: :delete,
	data: { confirm: 'Delete this song?' }  %></li>
<% end %>
<%= link_to 'New song', new_song_path %>
<h2>Your albums</h2>
<% @albums.each do |album| %>
  <li><%= album.name %>
  <%= link_to 'Edit', edit_album_path(album) %>
  <%= link_to 'Delete', album_path(album), method: :delete,
  data: { confirm: 'Delete this album? All releated song will also be deleted.'}%></li>
<% end %>
<%= link_to 'New album', new_album_path %>
