<div class="container">
	<div class="text-center">
		<%= image_tag 'example.png', class: "img-fluid" %>
		<h1>Welcome to your Songs List</h1>
	</div>
	<h2>Your songs</h2>
	<% @songs.each do |song| %>
		<dd>
			<%= song.name %>
		  <%= link_to 'Edit', edit_song_path(song) %>
		  <%= link_to 'Delete', song_path(song), method: :delete,
			data: { confirm: 'Delete this song?' }  %>
		</dd>
	<% end %>
	<h2>Your albums</h2>
	<div class="card-columns">
			<% @albums.each do |album| %>
				<div class="card">
					<div class="card-body">
						<h5 class="card-title font-weight-light text-right"><%= album.name %></h5>
						<h6 class="text-right small font-weight-light"><%= album.year %></h6>
						<div class="text-center image-container">
							<%= image_tag 'cd.jpg', class: "img-fluid"%>
						</div>
						<%= link_to 'Edit', edit_album_path(album) %>
						<%= link_to 'Show', album_path(album) %>
					  <%= link_to 'Delete', album_path(album), method: :delete,
					  data: { confirm: 'Delete this album? All releated song will also be deleted.'}%>
					</div>
				</div>
			<% end %>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<p><%= link_to 'New song', new_song_path %></p>
		</div>
		<div class="col-sm-6 well">
			<p><%= link_to 'New album', new_album_path %></p>
		</div>
	</div>
</div>
