<ul>
  <% @song.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<%= form_for @song do |f| %>
	<%= f.label :name, 'Name' %>
	<%= f.text_field :name %>
  <%= f.label :album_id, 'Album' %>
	<%= f.collection_select(:album_id, @albums, :id, :name) %>
  <button type="submit" class="btn btn-default">Create</button>
<% end %>
