<ul>
  <% @song.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<h2>New song</h2>
<%= form_for @song do |f| %>
	<p><%= f.label :name, 'Name: ' %>
	<%= f.text_field :name %></p>
  <p><%= f.label :album_id, 'Album' %>
	<%= f.collection_select(:album_id, @albums, :id, :name) %></p>
  <button type="submit" class="btn btn-outline-primary">Create</button>
<% end %>
