<ul>
  <% @album.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<h2 class>New album:</h2>
<%= form_for @album do |f| %>
	<p><%= f.label :name, 'Name' %>
	<%= f.text_field :name %></p>
  <p><%= f.label :year, 'Year' %>
  <%= f.text_field :year %></p>
  <button type="submit" class="btn btn-outline-primary">Create</button>
<% end %>
